<p class="filter-text">
    <input
      nz-input
      [(ngModel)]="filterText"
      id=""
      name=""
      placeholder="搜索"
    />
  </p>
  <p class="form-models" #toolsTpl>
    <nz-collapse >
      <nz-collapse-panel
        *ngFor="let panel of panels"
        [nzHeader]="panel.name"
        [nzActive]="panel.active"
        [nzDisabled]="panel.disabled"
      >
        <ul class="list">
          <li *ngFor="let item of panel.models;let i = index;" draggable="true">
            <i nz-icon [nzType]="item.type" nzTheme="outline" *ngIf="item.type"></i>
            <i dynamic-form-input-icon [dyType]="item.icon" *ngIf="item.icon"></i>
            {{ item.name }}
          </li>
        </ul>
      </nz-collapse-panel>
    </nz-collapse>
  </p>
