<nz-layout class="main">
  <!-- 头部 -->
  <nz-header>
    <dynamic-form-header></dynamic-form-header>
  </nz-header>
  <nz-layout class="container">
    <!-- 菜单 -->
    <!-- <dynamic-form-sider-menu></dynamic-form-sider-menu> -->
    <nz-sider
      nzCollapsible
      class="sider"
      [nzCollapsed]="isCollapsed$ | async"
      [nzTrigger]="null"
    >
      <ul nz-menu nzMode="inline">
        <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
        <ng-template #menuTpl let-tpLmenus>
          <ng-container *ngFor="let menu of tpLmenus">
            <li *ngIf="!menu.isParent" nz-menu-item [nzPaddingLeft]="menu.level * 24" [routerLink]="['/', 'home', menu.route]" nzMatchRouter>
              <a>
                <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
                <span>{{ menu.name }}</span>
              </a>
            </li>
            <li *ngIf="menu.isParent" nz-submenu [nzTitle]="menu.name" [nzIcon]="menu.icon">
              <ul>
                <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
              </ul>
            </li>
          </ng-container>
        </ng-template>
      </ul>
    </nz-sider>

    <!-- 内容 -->
    <nz-content class="content">
      <!-- <dynamic-form-reuse-tab></dynamic-form-reuse-tab> -->
      <section>
        <router-outlet></router-outlet>
      </section>
    </nz-content>
  </nz-layout>
</nz-layout>
